.hero {
  height: calc(100vh - 7em);
  background-color: #f8f9fa;
  margin-top: 7em;
}

.heroContainer {
  max-width: 120em;
  margin: 0 auto;
  padding: 4.8rem 0 9.6rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
}

.textContainer h1 {
  font-size: 7em;
  font-weight: bold;
}

.textContainer .imageContainer {
  width: 100%;
}

.imageContainer img {
  width: 60em;
  border-radius: 11px;
}
