.hero {
  /* height: calc(100vh - 7em); */
  background-color: #f8f9fa;
  margin-top: 7em;
}

.heroContainer {
  max-width: 120em;
  margin: 0 auto;
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
  border-bottom: 0.1em solid #dee2e6;
}

.textContainer {
  line-height: 1.2;
  color: #343a40;
}

.textContainer h1 {
  font-size: 6em;
  font-weight: bold;
  margin-bottom: 0.1em;
}

.textContainer p {
  letter-spacing: 0.1em;
  font-size: 2em;
}

.imageContainer img {
  max-width: 60em;
  border-radius: 7px;
  background-size: cover;
}

/* hero.css */
.btn-cta {
  background-color: #fd7e14;
  color: white;
  border: none;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  margin-top: 2em;
  cursor: pointer;
  border-radius: 8px;
}

.btn-cta:hover {
  background-color: #f76707;
}
