.hero {
  /* height: calc(100vh - 7em); */
  background-color: #f8f9fa;
  margin-top: 7em;
  padding: 0 2em;
}

.heroContainer {
  max-width: 120em;
  margin: 0 auto;
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
  border-bottom: 0.1em solid #dee2e6;
}

.textContainer {
  line-height: 1.2;
  color: #343a40;
}

.textContainer h1 {
  font-size: 5.5em;
  font-weight: bold;
  margin-bottom: 0.1em;
}

.textContainer p {
  letter-spacing: 0.1em;
  font-size: 2em;
}

.imageContainer img {
  max-width: 100%;
  border-radius: 7px;
  background-size: cover;
}

/* hero.css */
.btn-cta {
  background-color: #fd7e14;
  color: white;
  border: none;
  padding: 1em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  margin-top: 2em;
  cursor: pointer;
  border-radius: 8px;
}

.btn-cta:hover {
  background-color: #f76707;
}

@media (max-width: 80em) {
  .textContainer h1 {
    font-size: 4.5em;
  }
  .textContainer p {
    font-size: 1.5em;
  }
}

@media (max-width: 60em) {
  .textContainer h1 {
    font-size: 3.5em;
  }
  .textContainer p {
    font-size: 1.5em;
  }

  .btn-cta {
    font-size: 1.2;
    padding: 0.8em 0.8em;
  }
}

@media (max-width: 45em) {
  .heroContainer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .textContainer p {
    width: 80%;
    font-size: 2em;
    margin: 1em auto;
    text-align: center;
    line-height: 1.2;
  }
  .btn-cta {
    font-size: 1.2;
    padding: 1em 1.5em;
  }
}
