.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 800px;
  height: 400px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
  font-weight: bold;
}

.model-content {
  margin-bottom: 2em;
}

.tags button {
  margin-right: 10px;
}

.media {
  display: flex;
  align-items: center;
}

.media img {
  width: 200px;
  margin-right: 20px;
}

.media video {
  width: 400px;
}
