.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  padding: 0 2em;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 2em;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
  font-weight: bold;
}

.close {
  cursor: pointer;
}

.model-content {
  margin-bottom: 2em;
}

.meal-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.tags button {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
  padding: 0.3em 0.8em;
  border-radius: 20px;
  color: #fff;
  border: none;
  background-color: #fd7e14;
}

.mealContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}

.mealRecipe {
  font-size: 1.6em;
}

.mealRecipe h3 {
  font-size: 1.2em;
}
.mealContent img {
  margin-top: 2em;
  max-width: 100%;
  border-radius: 10px;
}

@media (max-width: 38em) {
  .mealContent {
    grid-template-columns: 1fr;
  }
  .mealRecipe p {
    font-size: 1em;
  }
}

.modal-footer button {
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-footer button:hover {
  background-color: #495057;
}
