@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.navbar {
  overflow: hidden;
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.3 ease;
  border-bottom: 0.1em solid #dee2e6;
  padding: 0 2em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 130em;
  margin: 0 auto;
  padding: 1.2rem 0;
}

.logo {
  font-size: 3em;
  color: #f76707;
  font-weight: 500;
  cursor: pointer;
}

.search-bar {
  position: relative;
}

.search-bar input[type="search"] {
  padding: 1.2em 4em 1.2em 1em;
  border-radius: 11px;
  border: none;
  outline: none;
  background-color: #e9ecef;

  color: #495057;
  width: 35em;
  transition: all 0.3s ease;
}

.search-bar input[type="search"]:focus {
  background-color: #f1f3f5;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  color: #868e96;
}

.navbar.scrolled {
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.1);
  padding: 0.3em;
}
